@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --danger-color: #ff5252;
    --background-color: #121212;
    --text-color: #ffffff;
    --text-color-muted: #888888;
    --border-color: #27272a;
    --accent-color: #658d24;
    --accent-color-sidemenu: #80bd1d;
    --card-bg: #18181b;
    --input-bg: #202023;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    background: radial-gradient(circle at top right, rgba(101, 141, 36, 0.15), transparent 40%),
        radial-gradient(circle at bottom left, rgba(128, 189, 29, 0.05), transparent 40%),
        var(--background-color);
}